<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD (Create, Read, Update, Delete)</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/util.js"></script>
</head>


<body>

    <div class="container">
        <h1>JSON CRUD (Create, Read, Update, Delete)</h1>
        <a href="/add" class="btn">Tambah</a>
        <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name.</th>
                    <th>Height.</th>
                    <th>Weight.</th>
                    <th>Birth Date</th>
                    <th>Is Married</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                <% quest.forEach((row, index)=>{ %>
                    <tr>
                        <td>
                            <%= index + 1 %>
                        </td>
                        <td>
                            <%= row.name %>
                        </td>
                        <td>
                            <%= row.Height %>
                        </td>
                        <td>
                            <%= row.weight %>
                        </td>
                        <td>
                            <%= row.birthdate %>
                        </td>
                        <td>
                            <%= row.married ? "Yes" : "Not Yet" %>
                        </td>
                        <td><a href="/update/<%= index %>">Update</a>
                            <a href="/delete/<%= index %>" onclick="return confirmation('<%= row.name %>')">Delete</a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>